<div class="layout-inner">
    
    <nav>
        <ul>
            <li><a href="#">Blog</a></li>
        </ul>
    </nav>

    <div class="title-wrapper">
        <h1><img src="{{ site_options.theme_uri }}/img/logo.png">Zmittapp</h1>
    </div>

</div>


<div class="iphone-wrapper">

    <div class="iphone">
        <div class="display">
            
        </div>
    </div>

</div>